@font-face {
  font-family: "XiaoShiTou-2";
  src: url("fonts/YeZiGongChangXiaoShiTou-2.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "AiDianFeng";
  src: url("fonts/AiDianFengYaHei\ \(ShangYongMianFei\)\ -2.ttf") format("truetype");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  /* background-image: url(); */
  min-width: 350px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  /* margin-top: 0; */
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  max-width: 500px;
  min-width: 275px;
  background-color: rgb(222, 185, 135);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.home_menu {
  position: relative;
}

.home_menu a {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -10%) rotate(-60deg);

  background: rgb(222, 185, 135);
  padding: 0 10px;

  font-family: "AiDianFeng";
  font-size: 20px;

  text-decoration: none;
}

.home_menu h2 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0%, -50%);

  background: rgb(222, 185, 135);
  margin: 0;
  padding: 0 10px;

  /* font-size: 20px; */
}

.menu_list {
  transform: rotate(20deg);
  margin-left: 60%
}

.menu_type {
  position: relative;
  /* margin-left: -30%; */
}

.menu_type .menu_type_001 {
  position: absolute;
  bottom: 30%;
  right: 55%;
  /* transform: rotate(5deg); */
  
  text-decoration: none;
  
  font-family: "AiDianFeng";
  font-size: 22px;
}

.menu_type .menu_type_002 {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.menu_type .menu_type_img {
  margin-top: 0px;
  transform: translateX(55px);
  margin: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:-25px;
}

.img_size {
  width: 86px;
  height: auto;
}

.img_add {
  width: 100px;
}

hr {
  height: 1px;
  background-color: black;
  /* border-color: brown; */
  border-width: 0;
}

.bottom-line {
  margin-top: 25px;
}

h1, h2 {
  font-family: "XiaoShiTou-2", Impact, serif;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "AiDianFeng", Impact, serif;
}

.add_br {
  margin-top: 20px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

address {
  font-style: normal;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
  -webkit-tap-highlight-color: transparent;   /* 消除移动端点击高亮背景色 */
}

a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}
